@import "tailwindcss";

@theme{
  --color-primary: #699ECC;
  --color-secondary: #C1E3EE;
  --color-accent: #203E5B;
  --color-background: #F6FDFF;
}

/* tailwind + leaflet overrides */
.leaflet-popup-content-wrapper {
  @apply bg-gradient-to-br from-primary to-secondary text-white font-medium rounded-lg shadow-lg p-2;
}

.leaflet-popup-content {
  margin: 0 !important; /* remove weird default padding */
}

.leaflet-popup-tip {
  @apply bg-accent;
}

.leaflet-marker-icon {
  @apply transition-transform ease-in-out duration-200;
}

.leaflet-marker-icon:hover {
  @apply transform shadow-xl;
}